<head>
    <title>JPFilms - {{film}}</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-gn5384xqq1aowxa+058rxpxpg6fy4iwvtnh0e263xmfcjlsawiggfaw/dais6jxm"
        crossorigin="anonymous"
    >
</head>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <h1>
        {{film}} ({{film.release_year}})
    </h1>
</div>
<div class="container">

<p class="mb-2 text-muted small">
    {{film.description}}
</p>     
<br>
<div class="row">
       <div class="card text-center" style="width:25%;">
            <div class="card-body">
                <h5 class="card-title">Producer</h5>
                {{film.producer_name}}
            </div>
        </div>
        <div class="card text-center" style="width:25%;">
            <div class="card-body">
                <h5 class="card-title">Director</h5>
                {{film.director_name}}
            </div>
        </div>
        <div class="card text-center" style="width:25%;">
            <div class="card-body">
                <h5 class="card-title">Rating</h5>
                <p class="w-150 dark-grey-text">{{film.rating}}</p>
            </div>
        </div>
        <div class="card text-center" style="width:25%;">
            <div class="card-body">
                <h5 class="card-title">Characters</h5>
                {% for people in film.people_set.all %}
                <p class="card-text">- {{people}}</p>
                {% endfor %}
            </div>
        </div>
</div>

</div>
</br>
